<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>服务器异常</title>
</head>
<body>
<h2>异常统一处理</h2>
<h3>请求路径</h3>
<h4 th:text="${result.url}"></h4>
<h3>异常类型</h3>
<h4 th:text="${result.message}"></h4>
<h3>DEBUG</h3>
<input type="hidden" id="hidden" th:value="${result.message}"/>
<a href="#" id="Google">Google</a>
<a href="#" id="Baidu">Baidu</a>
<a href="#" id="StackOverFlow">StackOverFlow</a>
<h3>异常堆栈跟踪日志</h3>
<code th:text="${result.data}"></code>
<script type="application/javascript">
    window.onload = function () {
        var message = document.getElementById("hidden");

        var google = document.getElementById("Google");
        var baidu = document.getElementById("Baidu");
        var stackOverFlow = document.getElementById("StackOverFlow");

        google.href = "https://www.google.co.jp/?gfe_rd=cr&amp;ei=nUnrWJ6ROY2B0ATEpr7ACg#q=" + message;
        baidu.href = "https://www.baidu.com/s?wd=" + message;
        stackOverFlow.href = "http://stackoverflow.com/search?q=" + message;
    };
</script>
</body>
</html>