<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.boot.mybatis.mapper.UserMapper">
    <resultMap id="User" type="spring.boot.mybatis.module.User">
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="INTEGER"/>
        <result column="first_name" property="firstName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findByFirstName" resultMap="User">
        select *
        from user
        where first_name = #{firstName}
    </select>
</mapper>